{%extends 'base.html'%}

{%block content%}
<div class="container bg">
        <h1 class="color">GREETINGS AND WELCOME TO YSL GALLERY</h1>
        <p class="color">You have arrived at YSL Gallery where you will be able to view various photos and see their deatils.
        </p>
    <div class="card-columns">
        {% for image in images %}
        <div class="card">
            <img class="card-img-top" src="{{image.image.url}}" alt="{{image.name}}">
            <div class="card-footer card-bg">
                <a class="btn btn-sm card-color" href="{% url 'image' image.id %}">View Image</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}