{%extends 'base.html'%}

{%block content%}

<div class="container bg">
    <h3 class="color">Please enter the city you're looking for in the below search field.</h3>
    <div class="col-sm-4 col-md-4 mx-auto">
        <form class="form" role="search" action="#">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search City" name="city">
                <div class="input-group-btn" id="search">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search color" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        {% if images%}
        <h2>Found {{ images|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 images for the search term {{message}}</h2>
        {% endif %}
    </div>
    <div class="card-columns">
        {% if images %}
        {% for image in images %}
        <div class="card">
            <img class="card-img-top" src="{{image.image.url}}" alt="{{image.name}}">
            <div class="card-footer card-bg">
                <a class="btn btn-sm card-color" href="{% url 'image' image.id %}">View Image</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{%endblock%}