{%extends 'base.html'%}

{%block content%}
<div class="container">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="{{image.image.url}}" alt="{{image.name}}">
            <div class="card-body">
                <h5 class="card-title">{{image.name}}</h5>
                <p class="card-text">{{image.description}}</p>
                <p class="card-text">Category: 
                    {% for category in image.category.all %}
                    {{category}}
                    {% endfor %}</p>
                <p class="card-text">{{image.location}}</p>
            </div>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">Posted on {{image.pub_date}}</small></p>
            </div>
        </div>
    </div>
</div>

{%endblock%}