.navbar-bg, .card-bg {
    background-color: #05386B;
}

.color {
    color: #EDF5E1;
}

nav a:hover{
    color: #5CDB95;
}

.bg {
    background-color: #5CDB95;
}

.card-color {
    color: #8EE4AF;
}

.card-footer a:hover {
    color: #EDF5E1;
}

.search-color {
    color: #05386B;
}

i:hover {
    color: #379683;
}